<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todpop.saltyenglish"
    android:versionCode="20"
    android:versionName="1.4.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.todpop.saltyenglish.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity
            android:name="com.todpop.saltyenglish.RgLogin"
            android:label="@string/title_activity_rg_login"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.todpop.saltyenglish.RgRegisterTutorial"
            android:label="@string/title_activity_rg_register_tutorial"
            android:screenOrientation="portrait" >
        </activity>
       
        <activity
            android:name="com.todpop.saltyenglish.StudyTestPause"
            android:label="@string/title_activity_lvtest_pause"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyHome"
            android:label="@string/title_activity_study_home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyCategory"
            android:label="@string/title_activity_study_category"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyLearn"
            android:label="@string/title_activity_study_learn"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestA"
            android:label="@string/title_activity_study_testa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestB"
            android:label="@string/title_activity_study_test_b"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestC"
            android:label="@string/title_activity_study_test_c"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestWeekly"
            android:label="@string/title_activity_study_test_weekly"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyBegin"
            android:label="@string/title_activity_study_bigin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestFinish"
            android:label="@string/title_activity_study_test_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestWeeklyFinish"
            android:label="@string/title_activity_study_test_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestWeeklyResult"
            android:label="@string/title_activity_study_test_result"
            android:screenOrientation="portrait" >
        </activity>
       
        <activity
            android:name="com.todpop.saltyenglish.HomeMore"
            android:label="@string/title_activity_home_more"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMoreSetting"
            android:label="@string/title_activity_home_more_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMoreHelp"
            android:label="@string/title_activity_home_more_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMoreAccountInfo"
            android:label="@string/title_activity_home_more_acount_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMoreAccountChangePw"
            android:label="@string/title_activity_home_more_acount_change_pw"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMoreNotice"
            android:label="@string/title_activity_home_more_notice"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMyPage"
            android:label="@string/title_activity_home_my_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMyPageAttendance"
            android:label="@string/title_activity_home_my_page_attendance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMyPagePurchased"
            android:label="@string/title_activity_home_my_page_purchased"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMyPagePurchasedDetail"
            android:label="@string/title_activity_home_my_page_purchased_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMyPageSaving"
            android:label="@string/title_activity_home_my_page_saving"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeDownload"
            android:label="@string/title_activity_home_download"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeWordList"
            android:label="@string/title_activity_home_word_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.WordListTest"
            android:label="@string/title_activity_wordlist_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.WordListTestFinish"
            android:label="@string/title_activity_wordlist_test_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.WordListTestResult"
            android:label="@string/title_activity_wordlist_test_result"
            android:screenOrientation="portrait" >
        </activity>

       
        <activity
            android:name="com.todpop.saltyenglish.StudyTestResult"
            android:label="@string/title_activity_study_test_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMypageOptionCharacter"
            android:label="@string/title_activity_home_mypage_option_character"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMoreAccountDelete"
            android:label="@string/title_activity_home_more_account_delete"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.todpop.saltyenglish.ReminderService" >
        </service>

        <activity
            android:name="com.todpop.saltyenglish.LvTestPause"
            android:label="@string/title_activity_lv_test_pause" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.HomeMorePronounce"
            android:label="@string/title_activity_home_more_pronounce"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.todpop.saltyenglish.PopupNotification"
            android:label="@string/title_activity_popup_notification"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="com.todpop.saltyenglish.popupnotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestMock"
            android:label="@string/title_activity_rg_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestMockStart"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.todpop.saltyenglish.LockScreenService" />
        <service android:name="com.todpop.saltyenglish.LockGetService" />

        <receiver android:name="com.todpop.api.LockScreenReceiver" />
        <receiver
            android:name="com.todpop.api.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Used for install referral measurement -->
        <service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />

        <receiver
            android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.todpop.saltyenglish.StudyTestMockCnt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestMockFinish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestMockResult"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestCookie"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestCookieFinish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.todpop.saltyenglish.StudyTestCookieResult"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.todpop.saltyenglish.StudyTestRenewal"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
